      <ol class="commentlist">
            {% for comment in comments_list %}
                    <li class="alt" id="comment-59418">
                <div class="top"><a href='{{ comment.url }}' rel='external nofollow' class='url'>{{ comment.username }}</a><span class="time"> @ <a href="#comment-59418" title="">{{ comment.date_publish }}</a></span></div>
                <div><img alt='' src='images/default.jpg' class='avatar avatar-32 photo' height='32' width='32' /></div>

                <div class="body">
                                <p>{{ comment.content }}</p>
                </div>
              </li>
                {% for children_comment in comment.children_comment %}
              <li class="alt" id="comment-59542">
                <div class="reply">
                  <div class="top"><a href="{{ children_comment.url }}" rel="external nofollow" class="url">{{ children_comment.username }}</a><span class="time"> @ <a href="#comment-59543" title="">{{ children_comment.date_publish }}</a></span></div>
                  <div><img alt="" src="http://1.gravatar.com/avatar/f7c05a53670301b5b3c226eb8c2b93c0?s=32&amp;d=&amp;r=G" class="avatar avatar-32 photo" height="32" width="32"></div>

                  <div class="body">
                   {{ children_comment.content }}
                  </div>
                </div>
              </li>
                {% endfor %}
            {% endfor %}
      </ol>

    <div id="commentform">
    <h3 id="respond">Add your comment now</h3>
    {% if not request.user.is_authenticated %}
    <div class='login_info'>还没有登陆？可以登录后再评论哦。<b><a href="{% url 'login' %}">&raquo;去登录</a>&nbsp;<a href="{% url 'reg' %}">&raquo;去注册</a></b></div>
    {% else %}
    <div class='login_info'><b>{{ request.user.username }}</b>,快来写点评论吧!&nbsp;<a href="{% url 'logout' %}">注销</a></div>
    {% endif %}
    <form action="{% url 'comment_post' %}" method="post">
    {% csrf_token %}
    <p>{{ comment_form.author }}
    <label for="author">Name (required)</label></p>

    <p>{{ comment_form.email }}
    <label for="email">Email (Will NOT be published) (required)</label></p>

    <p>{{ comment_form.url }}
    <label for="url">URL</label></p>


    <!--<p><small><strong>XHTML:</strong> You can use these tags: &lt;a href=&quot;&quot; title=&quot;&quot;&gt; &lt;abbr title=&quot;&quot;&gt; &lt;acronym title=&quot;&quot;&gt; &lt;b&gt; &lt;blockquote cite=&quot;&quot;&gt; &lt;cite&gt; &lt;code class=&quot;&quot; title=&quot;&quot; data-url=&quot;&quot;&gt; &lt;del datetime=&quot;&quot;&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=&quot;&quot;&gt; &lt;strike&gt; &lt;strong&gt; &lt;pre class=&quot;&quot; title=&quot;&quot; data-url=&quot;&quot;&gt; &lt;span class=&quot;&quot; title=&quot;&quot; data-url=&quot;&quot;&gt; </small></p>-->

    <p>{{ comment_form.comment }}</p>

    <p>
        {{ comment_form.article }}
        <input name="submit" type="submit" id="submit" tabindex="5" value="Submit" class="button" />
    </p>
    </form>
    </div>